.example-pool {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.example-pool-label {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--dark);
    margin-bottom: 0.4rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

.example-pool-label u {
  color: var(--dark);
}

.ex-item-title {
  text-align: center;
  color: var(--dark);
  padding-bottom: 0.2rem;
}
  
  .example-box {
    background-color: var(--light);
    border: 2px solid var(--dark);
    border-radius: 16px;
    padding: 1rem;
    padding-bottom: 0.25rem;
  }
  
  .example-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
  }
  
  .example-item button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.8rem;
    background-color: var(--pri);
    color: var(--dark);
    transition: background-color 0.2s ease;
  }
  
  .example-item button:hover {
    background-color: var(--pri);
    color: var(--dark);
  }
  
  .preview-button {
    margin-left: 1rem;
    background-color: var(--bg2);
    color: var(--bg);
  }
  
  .preview-button:hover {
    background-color: var(--pri);
    color: var(--dark)
  }
  

  @media (max-width: 700px) {
    .example-pool-label {
      font-size: 0.9rem;
    }
    .example-item {
      font-size: 0.8rem;
    }
  }