.upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
  }
  
  .upload-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0px;
  }
  
  .upload-title {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--dark);
    margin-bottom: -0.1rem;
  }

  .upload-subtitle {
    font-size: 0.75rem;
    color: var(--dark);
    padding: 8px;
    padding-top: 0;
  }
  
  .clear-button-icon {
    position: absolute;
    top: 6px;
    right: 10px;
    background: transparent;
    border: none;
    color: var(--dark);
    font-size: 1.75rem;
    cursor: pointer;
    padding: 0;
    z-index: 10;
  }
  
  .clear-button-icon:hover {
    color: red;
  }
  
  
  .upload-box {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
    background-color: var(--light);
    border: 2px solid var(--pri);
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  }

  

  .upload-box.dragging {
    border-color: var(--bg2);
    background-color: var(--pri);
  }
  
  
  .upload-button {
    background-color: var(--sec);
    color: var(--dark);
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .file-name {
    margin-top: 12px;
    font-size: 1rem;
    color: var(--dark);
  }

  .upload-error {
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }
  
  .error-message {
    color: red;
  }
  
  .normal-message {
    color: var(--dark);
     
  }
  
  
  
  .generate-buttons {
    margin-top: 20px;
    display: flex;
    gap: 16px;
  }
  
  .gen-button {
    background-color: var(--bg2);
    color: var(--bg);
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  }
  
  
  

  @media (max-width: 750px) {
    .upload-box {
      width: 80%;
      max-width: 200px;
    }
    .upload-button {
      padding: 6px 12px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 0.8rem;
    }
    .file-name {
      font-size: 0.75rem;
    }
    .gen-button {
      padding: 6px 12px;
      border-radius: 6px;
      font-size: 0.8rem;
      cursor: pointer;
    }
    .clear-button-icon {
      top: 3px;
      right: 3px;
      font-size: 1.2rem;
    }
  }