:root {
  --f: 'Inter', sans-serif;
  --text: black;
  --pri: #F15152;
  --sec: #EDB183;
  --lpri: #C4F7A1;
  --lsec: #656839;
  --dark: #3A2E39;
  --light: #F4D8CD;
  --bg: white;
  --bg2: #1E555C;
  --gradient: linear-gradient(100deg, var(--pri), var(--sec));
  --l-gradient: linear-gradient(100deg, var(--lpri), var(--lsec));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--f);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--bg);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}


.page-content {
  padding: 98px 0px;
}